<%# add navigation links to this file %>
<li><%= link_to "Balance Sheet", reports_balance_sheet_path%></li>
<li><%= link_to "Income Statement", reports_income_statement_path%></li>
<li><%= link_to "General Ledger", accounts_path%></li>
<li><%= link_to "Journal", entries_path%></li>
